body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 
#container {
    text-align: center;
}

#text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#buttonPlus {
    border-style: dashed;
    border-radius: 50px;
}

#buttonMinus {
    border-style: dashed;
    border-radius: 50px;
}

#reset {
    border-style: dashed;
    border-radius: 50px;
}